.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html {
    background-color: #3c3c3c;
}

body {
    font: 13px/16px arial;
    color: #fff;
}

img {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

header p.title {
    font-size: 22px;
    font-weight: bold;
    float: right;
    text-align: center; 
    width: 82%;
    text-shadow: 1px 1px 1px #FFF;
    color: #000;
    line-height: 100px; 
}

header a.logo {
    display: block;
    width: 18%;
    float: left;
} 

#content {
    margin: 0 auto;
    width: 1000px;
}

/* ------ MENU ------- */

#content .container {
    padding: 20px 3% 0;
    width: 92%;   
}

#content .container nav ul li {
    height: 80px;
    text-align: left;
}


#content .container nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 12%;
    text-shadow: 1px 1px 2px #ccc;
    display: block;
    line-height: 70px;
}

#content .container nav ul li a:hover,
#content .container nav ul li a:active {
    background: #bebebe; /* Old browsers */
    background: -moz-linear-gradient(top, #bebebe 0%, #f2f2f2 4%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(4%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* IE10+ */
    background: linear-gradient(to bottom, #bebebe 0%,#f2f2f2 4%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

#content .container nav ul li a span {
    width: 51px;
    height: 51px;
    display: block;
    float: left;
    margin: 11px 5% 0 15%;
    background: url(../images/sprite_botonera.png) no-repeat;
}

#content .container nav ul li.cursos a span {
    background-position: 0 0;
}

#content .container nav ul li.centros a span {
    background-position: 0 -52px;
}

#content .container nav ul li.barrios a span {
    background-position: 0 -105px;
}

#content .container nav ul li.busqueda a span {
    background-position: 0 -156px;
}

/* ------ [End Of] MENU ------- */

aside {
    padding: 0;
    float: left;
    width: 30%;
    background: #fafafa;
    
}

/* ------ BAR TOP ------- */

div.bar-top {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #49515a; /* Old browsers */
    background: -moz-linear-gradient(top,  #49515a 0%, #272a2e 81%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49515a), color-stop(81%,#272a2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* IE10+ */
    background: linear-gradient(to bottom,  #49515a 0%,#272a2e 81%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49515a', endColorstr='#272a2e',GradientType=0 ); /* IE6-9 */

}

/* ------ [End Of] BAR TOP ------- */

#content .container div.content-general {
    float: right;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    background: #e5cd23; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5cd23 0%, #ffe428 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5cd23), color-stop(50%,#ffe428)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5cd23 0%,#ffe428 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5cd23', endColorstr='#ffe428',GradientType=0 ); /* IE6-9 */
    padding: 20px;
}

/* ------ basic styles for header and footer ------- */

header,
footer {
    background: #e5cd23; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5cd23 0%, #ffe428 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5cd23), color-stop(50%,#ffe428)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5cd23 0%,#ffe428 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5cd23', endColorstr='#ffe428',GradientType=0 ); /* IE6-9 */
    width: 98%;
    margin: 0 auto;
    padding: 5px 1%;
}

/* ------ basic styles for header and footer ------- */

/* ------ styles for different devices ------- */

/* Large desktop */
@media (max-width: 1024px) {
     #content {
        width: 100%;
    }
}

/* Portrait tablet to landscape and desktop */
@media(max-width: 980px) {
    #content {
        width: 95%;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #content {
        width: 1024px;
  }
  
  .content-general {
     display: none;
  }

}

/* Landscape phone to portrait tablet */
@media(max-width: 767px) {
    #content {
        width: 90%
    }

    #content .container nav ul li a {
        font-size: 24px;        
    }
    
    
    aside,
    #content .container div.content-general {
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    
    aside {
        margin-bottom: 20px;
    }
    
    #content .container div.content-general {
        width: 85%;
        padding: 0 5%;
    }
}

@media(max-width: 480px) {   

    #content .container nav ul li a span {
        margin-left: 15%;
    }
}   

@media(max-width: 320px) {

    header {
        line-height: 56px;
    }

    header a.logo img {
        width: 100%; 
    }

    header p.title {
        line-height: 56px;
    }

    aside {
        margin: 0 auto;
        float: none;
        width: 100%;
    }

    #content .container {
      padding: 20px 2% 0; 
      width: 96%;   
    }

    #content .container div.content-general {
        width: 96%;
        margin: 0 auto;
        float: none;
        padding: 2%;
    }

    #content .container nav ul li a {
        font-size: 26px;
    }
    
    #content .container nav ul li a span {
       margin-left: 5%;
    }
    
    
}

@media(min-width: 240px) and (max-width: 319px)  {

    header {
        width: 100%;
    }
   
    header p.title {
        line-height: 55px;
        padding-top: 20px;
        font-size: 18px;
        width: 72%;
    }

    #content .container {
        padding: 0; 
        width: 100%;   
    }

    header a.logo {
        width: 40px;
    }

    #content .container nav ul li a {
        font-size: 26px; 
    }

}

/* ------ [End Of] styles for different devices ------- */
