.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

html {
  background-color: #fafafa;
}

body {
    font: 13px/16px arial;
    color: #fff;
    margin: 0;
}

a, a:focus, a:active {
    outline:none;
}

.box-shadow {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 12px;
}

img {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

header {
    width: 100%;
    padding: 20px 0;
}

header h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    text-align: center; 
    width: 50%;
    color: #000;
    margin: 0 auto;
} 

header h1 a {
    text-shadow: 1px 1px 1px #FFF;
    text-decoration: none;
    width: 50%;
    color: #000;
    
}

#content {
    margin: 0 auto;
    padding-bottom: 63px;
}

/* ------ MENU ------- */

#content .container nav ul.menu li {
    height: 80px;
    text-align: left;
}


#content .container nav ul.menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 5px 0 5px 10%;
    text-shadow: 1px 1px 2px #ccc;
    display: block;
    line-height: 70px;
}

#content .container nav ul.menu li a:hover,
#content .container nav ul.menu li a:active {
    background: #bebebe; /* Old browsers */
    background: -moz-linear-gradient(top, #bebebe 0%, #f2f2f2 4%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(4%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* IE10+ */
    background: linear-gradient(to bottom, #bebebe 0%,#f2f2f2 4%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

#content .container nav ul.menu li a span {
    width: 51px;
    height: 51px;
    display: block;
    float: left;
    margin: 11px 5% 0 15%;
    background: url(../img/sprite_botonera.png) no-repeat;
}

#content .container nav ul.menu li.cursos a span {
    background-position: 0 0;
}

#content .container nav ul.menu li.centros a span {
    background-position: 0 -52px;
}

#content .container nav ul.menu li.barrios a span {
    background-position: 0 -105px;
}

#content .container nav ul.menu li.busqueda a span {
    background-position: 0 -156px;
}

/* ------ [End Of] MENU ------- */

/*---- ASIDE STYLES ----*/

aside {
    padding: 0;
    background: #fafafa;

}
/*---- END OF ASIDE STYLES ----*/

/* ------ BAR TOP ------- */

div.bar-top {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #49515a; /* Old browsers */
    background: -moz-linear-gradient(top,  #49515a 0%, #272a2e 81%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49515a), color-stop(81%,#272a2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #49515a 0%,#272a2e 81%); /* IE10+ */
    background: linear-gradient(to bottom,  #49515a 0%,#272a2e 81%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49515a', endColorstr='#272a2e',GradientType=0 ); /* IE6-9 */

}

/* ------ [End Of] BAR TOP ------- */

#content .container div.content-general {
    background: #fff;
    padding: 20px;
}
/* ------ END OF BAR TOP ------- */

/* ------ basic styles for header ------- */

header {
    background: #e5cd23; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5cd23 0%, #ffe428 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5cd23), color-stop(50%,#ffe428)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5cd23 0%,#ffe428 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5cd23 0%,#ffe428 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5cd23', endColorstr='#ffe428',GradientType=0 ); /* IE6-9 */
    width: 100%;
    margin: 0 auto;
}
/* ------ END OF basic styles for header ------- */

/*----- FOOTER STYLES -----*/
footer {  
    padding: 0 0 20px 0;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fafafa;
    height: 73px;
    z-index: 1022;
}

footer .logo-footer {
    display: none;
}

footer div.footer-text {
    background: #000;
    padding: 10px 0;
    background: #49515a; /* Old browsers */
    background: -moz-linear-gradient(top, #49515a 0%, #272a2e 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49515a), color-stop(50%,#272a2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #49515a 0%,#272a2e 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #49515a 0%,#272a2e 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #49515a 0%,#272a2e 50%); /* IE10+ */
    background: linear-gradient(to bottom, #49515a 0%,#272a2e 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49515a', endColorstr='#272a2e',GradientType=0 ); /* IE6-9 */
}

footer ul.menu {
    height: 73px;
    background: #49515a; /* Old browsers */
    background: -moz-linear-gradient(top, #49515a 0%, #272a2e 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49515a), color-stop(50%,#272a2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #49515a 0%,#272a2e 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #49515a 0%,#272a2e 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #49515a 0%,#272a2e 50%); /* IE10+ */
    background: linear-gradient(to bottom, #49515a 0%,#272a2e 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49515a', endColorstr='#272a2e',GradientType=0 ); /* IE6-9 */
}

footer ul.menu li {
    float: left;
    width: 25%;
}

footer ul.menu li.cursos {

}

footer ul.menu li.busqueda {

}

footer ul.menu li a {
    padding: 11px 0;
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

footer ul.menu li a:hover,
footer ul.menu li a:active,
footer ul.menu li a.active {
    background: #272a2e; /* Old browsers */
    background: -moz-linear-gradient(top, #272a2e 0%, #49515a 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272a2e), color-stop(50%,#49515a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #272a2e 0%,#49515a 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #272a2e 0%,#49515a 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #272a2e 0%,#49515a 50%); /* IE10+ */
    background: linear-gradient(to bottom, #272a2e 0%,#49515a 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272a2e', endColorstr='#49515a',GradientType=0 ); /* IE6-9 */
}

footer ul.menu li a span {
    margin: 0 auto;
    display: block;
    background: url("../img/sp_menu_bottom.png") no-repeat;
    width: 35px;
    height: 34px;
}

footer ul.menu li.barrios a span {
    background-position: 0 -34px;
}

footer ul.menu li.centros a span {
    background-position: 0 -68px;
}

footer ul.menu li.busqueda a span {
    background-position: 0 -102px;
}

/*----- END OF FOOTER STYLES -----*/

/*----- HOME PAGE SYTLES -----*/

body.home #content {
    padding-bottom: 48px;
}

body.home footer {
    height: 40px;
    padding-bottom: 0;
}

/*----- HOME PAGE SYTLES -----*/

/*----- BASIC PAGE STYLES -----*/

body.basic-page footer {
    padding: 0;
}

body.basic-page #content .container .content-general .details > div {
    width: 100%;
    border-bottom: 1px solid #eceded;
}

body.basic-page #content .container .content-general .details > div p {
    padding: 15px 0 15px 5%;
    float: left;
}

body.basic-page #content .container .content-general .details div span {
    background: url("../img/sp_ic_details.png") 0 0 no-repeat;
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 12px;
}

body.basic-page #content .container .content-general .details div.place span {
    background-position: 0 -167px;
    height: 44px;
    margin-top: 17px;
}

body.basic-page #content .container .content-general .details div.phone span {
    background-position: 0 -55px ;
}

body.basic-page #content .container .content-general .details div.hour span {
    background-position: 0 -112px;
}

body.basic-page #content .container .content-general .details p {
    color: #6d6e71;
    font-size: 20px;
    text-shadow: 1px 1px 2px #ccc;
    line-height: 28px;
}

body.basic-page #content .container .content-general .details p strong {
    display: block;
    font-weight: bold;
}

body.basic-page #mapa {
    width: auto;
    height: 200px;
    margin: 0 auto;
    color: #000;
}

body.basic-page #content .container .content-general .details ul.cursos-list {
    padding-bottom:30px
}

body.basic-page #content .container .content-general .details ul.cursos-list li {
    height: 80px;
    border-bottom: 1px solid #d4d4d4; 
}

body.basic-page #content .container .content-general .details a {
    width: 100%;
    height: 65px;
    padding-top: 15px;
    text-decoration: none;
}

body.basic-page #content .container .content-general .details a:active,
body.basic-page #content .container .content-general .details a:hover {
    background: #bebebe; /* Old browsers */
    background: -moz-linear-gradient(top, #bebebe 0%, #f2f2f2 4%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(4%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bebebe 0%,#f2f2f2 4%); /* IE10+ */
    background: linear-gradient(to bottom, #bebebe 0%,#f2f2f2 4%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

body.basic-page #content .container .content-general .details a span.ic_arrow {
    background: url("../img/ic_arrow.png") right center no-repeat;
    width: 10px;
    height: 14px;
    display: block;
    float: right;
    margin: 18px 8% 0 0;  
}

body.basic-page #content .container .content-general .details a span.datos-curso {
    color: #828282;
    font-size: 16px;
    margin-top: 6px;
}

body.basic-page #content .container .content-general .details span.datos-curso strong {
    display: block;
    color: #3a3a3a;
    font-size: 20px;
}

body.basic-page #content .container .content-general .details a span {
    float: left;
}

/*---- END OF BASIC PAGE STYLES ----*/

/*---- CUROSOS FRONT PAGE ----*/

body.page-cursos-front #content .container div.content-general,
body.page-barrios #content .container div.content-general {
    padding: 0;
}

body.page-cursos-front #content .container .content-general .details a {
    line-height: 22px;
}

body.page-cursos-front #content .container .content-general .details a span.icono-curso {
    background: url("../img/sp_ic_cursos.png") no-repeat;
    width: 59px;
    display: block;
    margin: 0 5% 0 15%;
    height: 39px;
}

body.page-cursos-front #content .container .content-general .details a.fotografia span.icono-curso {
    margin-top: 5px;
}

body.page-cursos-front #content .container .content-general .details a.manualidades span.icono-curso {
    background-position: 0 -39px;
    height: 57px;
}

body.page-cursos-front #content .container .content-general .details a.Musica span.icono-curso {
    background-position: 0 -96px;
    height: 57px;
}

body.page-cursos-front #content .container .content-general .details a.Gastronomia span.icono-curso {
    background-position: 0 -153px;
    height: 44px;
}

body.page-cursos-front #content .container .content-general .details a.Manualidades span.icono-curso {
    background-position: 0 -197px;
    height: 57px;
}

body.page-cursos-front #content .container .content-general .details a.Informatica span.icono-curso {
    background-position: 0 -254px;
    height: 43px;
}

body.page-cursos-front #content .container .content-general .details a.Varios span.icono-curso,
body.page-cursos-front #content .container .content-general .details a.Idioma span.icono-curso {
    background-position: 0 -297px;
    height: 39px;
}

body.page-cursos-front #content .container .content-general .details a.Gestion span.icono-curso {
    background-position: 0 -335px;
    height: 58px;
}

/*---- END OF CUROSOS FRONT PAGE ----*/

/*---- CUROSOS PAGE ----*/

body.page-cursos #content .container .content-general  {
    padding: 0;
}

body.page-cursos #content .container .content-general .details a,
body.page-barrios #content .container .content-general .details a {
    line-height: 22px;
    padding-top: 0;
    height: 100%;
}

body.page-cursos #content .container .content-general .details span.datos-curso span.phone {
    display: block;
    float: none;
}

body.page-barrios #content .container .content-general .details a span.ic_arrow,
body.page-cursos #content .container .content-general .details a span.ic_arrow {
    margin-top: 36px; 
}

body.page-cursos #content .container .content-general .details a span.datos-curso {
    padding-left: 10%;
}

/*---- END OF CUROSOS PAGE ----*/

/*---- BARRIOS PAGE ----*/

body.page-barrios #content .container .content-general .details a span.datos-curso {
    padding-left: 10%;
    margin-top: 20px;
}

body.page-barrios header h1 {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 6px; 
}

header div.container-back {
    width: 25%;
    float: left;
}

header div.container-back a {
    text-decoration: none;
    background: url("../img/bg_buscar.jpg") repeat-x;
    -webkit-border-radius: 0 25px 25px 0;
    -m-oz-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    height: 38px;
    line-height: 38px;
    display: block; 
    width: 60px;
    float: left;
    color: #fff;
    font-weight: bold;
    padding-left: 12px;
}

header div.container-back span {
    display: block;
    background: url("../img/img_buscar_flecha.png") no-repeat left top;
    width: 20px;
    height: 38px;
    float: left;    
    margin-left: 10%;
}

/*---- END OF BARRIOS PAGE ----*/

/*----- DETAILS PAGE -----*/

body.page-details  #content .container .content-general .details p {
    width: 80%;
}

/*----- END OF DETAILS PAGE -----*/

/*---- CURSOS SEARCH ACTIVE PAGE ----*/

.search-form {
    background: #49515a; /* Old browsers */
    background: -moz-linear-gradient(top, #272a2e 0%, #49515a 81%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272a2e), color-stop(81%,#49515a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #272a2e 0%, #49515a 81%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #272a2e 0%, #49515a 81%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #272a2e 0%, #49515a 81%); /* IE10+ */
    background: linear-gradient(to bottom,  #272a2e 0%,#49515a 81%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272a2e', endColorstr='#49515a',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 15px;
    -m-oz-border-radius: 15px;
    border-radius: 15px;
}

.search-form input {
    font-size: 12px;
    float: left;
}

.search-form .search-text {
    height: 35px;
    padding: 0 10px 0 35px;
    border: none;
    -webkit-border-radius: 15px;
    -m-oz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    background: #07080a url("../img/lupa-search.png") 7px 5px no-repeat;
}

.search-form .search-btn {
    background: none;
    border: none;
    padding: 5px 5px 5px 30px;
    -webkit-border-radius:  0 15px 15px 0;
    -m-oz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    height: 35px;
}

/*---- END OF CURSOS SEARCH ACTIVE PAGE ----*/

/*----- BUSQUEDA AVANZADA------*/

form.categoria-busqueda div.barrio img,
form.categoria-busqueda div.categoria img {
    float: left;
    margin-right: 18px; 
}

form.categoria-busqueda div.barrio,
form.categoria-busqueda div.categoria {
    overflow: hidden;
    clear: both;
    width: 334px;
    margin: 0 auto;
    padding: 10px 10px; 
}

form.categoria-busqueda div.categoria p,
form.categoria-busqueda div.barrio p {
    color: #b3b4b5;
    font-size: 30px;
    padding: 24px 0;
}

form.categoria-busqueda div.categoria select,
form.categoria-busqueda div.barrio select {
    height: 30px;
    font-size: 20px
}

form.categoria-busqueda input.busqueda {
    display: block;
    border: none;
    background: url("../img/bg_buscar_lupa.jpg") no-repeat;
    width: 231px;
    height: 72px;
    cursor: pointer;
    margin: 0 auto;
    padding-right: 40px;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

form.categoria-busqueda div.categoria p {
  display: block;
}

form.categoria-busqueda div.submit {
    padding: 20px 0 42px;
}

/*----- [End Of] BUSQUEDA AVANZADA------*/

@media (min-width: 640px) {

    /*----- END OF HOME PAGE -----*/

    body.home #content {
        padding-bottom: 0;
    }

    body.home footer {
        display; none;
    }

    body.home footer div.footer-text {
        background: #fafafa;
        color: #6D6E71;
        width: 230px;
        margin: 0 auto;
    }

    body.home footer div.box-shadow {
        display: none;
    }

    body.home footer .logo-footer {
        background: #fafafa;
        display: block;
        width: 77px;
        margin: 0 auto;
    }

    body.home div.bar-top {
        color: #000;
        background: #fafafa;
    }

    body.home div.bar-top p {
        text-shadow: 1px 2px 2px #ccc;
    }

    body.home #content .container nav ul.menu li a span {
        margin-left: 5%;
    }

    body.home #content .container nav ul.menu {
        padding: 20px 5% 0;
        overflow: hidden;
    }

    body.home #content .container nav ul.menu li {
        float: left;
        width: 45%;
        margin-bottom: 20px;
        height: auto;
    }

    body.home #content .container nav ul.menu li.barrios,
    body.home #content .container nav ul.menu li.busqueda {
        float: right;
    }

    body.home #content .container nav ul.menu li a {
        border-left: 1px solid #edeeef;
        border-right: 1px solid #edeeef;
        border-bottom: 1px solid #edeeef;
        border-left: 1px solid #f8f9f9;
        padding: 20px 0 20px 10%;
        -webkit-border-radius: 10px;
        -m-oz-border-radius: 10px;
        border-radius: 10px;
        background: rgb(244,246,248); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(244,246,248,1) 24%, rgba(222,222,222,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(244,246,248,1)), color-stop(100%,rgba(222,222,222,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(244,246,248,1) 24%,rgba(222,222,222,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(244,246,248,1) 24%,rgba(222,222,222,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(244,246,248,1) 24%,rgba(222,222,222,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(244,246,248,1) 24%,rgba(222,222,222,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f8', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
        color: #6d6e71;
        text-shadow: 1px 1px 2px #fff;
    }

    body.home #content .container nav ul.menu li a:hover,
    body.home #content .container nav ul.menu li a:active {
        background: rgb(222,222,222); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(222,222,222,1) 24%, rgba(244,246,248,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(222,222,222,1)), color-stop(100%,rgba(244,246,248,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(222,222,222,1) 24%,rgba(244,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(222,222,222,1) 24%,rgba(244,246,248,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(222,222,222,1) 24%,rgba(244,246,248,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(222,222,222,1) 24%,rgba(244,246,248,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f4f6f8',GradientType=0 ); /* IE6-9 */

    }

    body.home footer {
        height: auto;
    }

    /*----- END OF HOME PAGE -----*/

    /*------ DETAILS PAGE ------*/

    body.page-details #content .container .content-general .details {
        overflow: hidden;
    }  

    body.page-details #content .container .content-general .details > div {
        width: 50%;
        float: left;
    }

    /*------  END OF DETAILS PAGE ------*/

    /*-------  CURSOS FRONT PAGE  -------*/

    body.basic-page #content .container .content-general .details ul.cursos-list {
        overflow: hidden;
    }

    body.basic-page #content .container .content-general .details ul.cursos-list li {
        width: 50%;
        float: left; 
    }

    
    /*-------  CURSOS FRONT PAGE  -------*/

}

@media (max-width: 639px) {
    body.home footer {
       display: none;
    }
    
    header {
        padding: 15px 0 25px;
    }
    
    header h1 {
        padding-top: 5px;
    }
    
    form.categoria-busqueda div.barrio img,
    form.categoria-busqueda div.categoria img {
        width: 50px;
    }
    
    form.categoria-busqueda div.categoria p,
    form.categoria-busqueda div.barrio p {
        padding-top: 0;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    
    body.page-cursos #content .container .content-general .details ul.cursos-list li {
        height: 100px;
    }
    
    body.basic-page #content .container .content-general .details a {
        height: 75px;
        padding-top: 5px;
    }
    
    body.page-cursos #content .container .content-general .details ul.cursos-list li a {
        height: 100px;
    }
    
    body.page-cursos-front #content .container .content-general .details a span.icono-curso {
        margin:0 2%;
    }
    
    body.page-cursos-front #content .container .content-general .details a.fotografia span.icono-curso {
        margin-top: 10px;
    }
    
    body.basic-page #content .container .content-general .details a span.datos-curso {
        width: 72%;
    }
    
    body.page-cursos #content .container .content-general .details a span.ic_arrow {
        margin-right: 3%;
        margin-top: 42px;
    }
    
    body.page-cursos-front #content .container .content-general .details a span.ic_arrow {
        margin-top: 28px;
    }
    
    body.page-cursos #content .container .content-general .details a span.datos-curso {
      padding-left: 2%;
      width: 90%;
    }
    
}

@media (max-width: 320px) {

    body.page-barrios header {
        padding: 0;
    }

    body.page-barrios header h1 {
        width: 55%;
        padding: 5px 0 5px;
    }

    header div.container-back {
        width: 35%;
        padding: 12px 0 0 0;
    }
       
    body.basic-page #content .container .content-general .details a {
        height: 75px;
        padding-top: 5px;
    }  
    
    body.basic-page #content .container .content-general .details p {
        width: 210px
    }
    
    body.page-cursos-front #content .container .content-general .details a span.icono-curso {
        background-size: 80%;
        width: 41px;
    }   
    
    body.page-cursos-front #content .container .content-general .details a.fotografia span.icono-curso {
        height: 21px;        
        margin-top: 25px;
    }
    
    form.categoria-busqueda div.barrio,
    form.categoria-busqueda div.categoria {
        width: auto;
    }


}